# For PyDev (Eclipse)
.project
.pydevproject

# IntelliJ
.idea

# VSCode
.vscode

# Python bytecode and cache
*.pyc
**/__pycache__

# virtualenv
.venv
.python-version
.envrc

# Pytest coverage
.coverage

# Setuptools
*.egg-info
.eggs
dist/
build/
