# For PyDev (Eclipse)
.project
.pydevproject

# IntelliJ
.idea

# Python bytecode and cache
*.pyc
**/__pycache__

# virtualenv
.venv

# Pytest coverage
.coverage

# Setuptools
*.egg-info
.eggs
dist/
build/
