name: CI Testing
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
    - '*/*'
  pull_request:
    branches:
    - main

jobs:
  test:
    name: "Python ${{ matrix.python }} Django ${{ matrix.django }}"
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      # max-parallel: 8  # default is max available
      fail-fast: false
      matrix:
        include:
          # Django 4.2
          - django: "4.2"
            python: "3.10"
          - django: "4.2"
            python: "3.11"
          # Django 5.2
          - django: "5.2"
            python: "3.12"
          - django: "5.2"
            python: "3.13"
          - django: "5.2"
            python: "3.14"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install Packages
        run: |
          python -m pip install -U pip
          python -m pip install "Django~=${{ matrix.django }}" codecov -e .[tests]

      - name: Run Tests
        run: |
          echo "Python ${{ matrix.python }} / Django ${{ matrix.django }}"
          pytest --cov --cov-config=pyproject.toml --cov-report=term-missing tests/
          codecov
        continue-on-error: ${{ contains(matrix.django, 'b') }}  # allow failing on e.g. 'django: "5.2b1"'
